:root{
    --circle_size: min(30vw, 50px);
    --loading_color:#925b31;
    --small_icon_size: calc(var(--circle_size)/3);
}
loading{
    /* padding: auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #d47f3e;
    width: 100vw;
    height: 100vh;
}
.loading_div{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
}

.loading_div button{
    /* display: flex; */
    margin: 0 auto;
}

.circle_icon{
    margin: auto;
    display: flex;
    width: var(--circle_size);
    height: var(--circle_size);
    border: 1rem solid #925b31;
    border-radius: 50%;
}
.loading_icon{
    margin: auto;
    display: flex;
    width: var(--circle_size);
    height: var(--circle_size);
    background-color: var(--loading_color);
    animation: loading_animation 1s ease-in infinite;
}
@keyframes loading_animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
.loading_small_affect{
    display: flex;
    position: absolute;
    background-color: #fff;
    background-color: var(--loading_color);
    width: var(--small_icon_size);
    height: var(--small_icon_size);
    margin: auto;
    top: calc(50% + var(--circle_size)/2);
    left: calc(50% - var(--circle_size)/2);
    animation: loading_small_affect_animation 1s linear infinite;
}
@keyframes loading_small_affect_animation{
    0%{

    }
}