
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Noto+Serif:wght@300&display=swap');

.d_n{
    display: none !important;
}
.d_f{
    display: flex ;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif', serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul,li{
    padding: 0;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
p,h4{
    padding: 0;
    margin: 0.5rem;
}
/* 返回置頂按鈕 固定位於右下角 */
.return_top_button{
    position: fixed;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 50%;
    z-index: 999;
}

.return_top_button:actived{
    color: black;
}

/* 至頂選單 */
.top_menu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding:  0.5rem 0 ;
    width: 100%;
    background-color: #333;
    color:white; 
}

.left_menu{
    text-align: center;
    width: 10%;
    margin: 0 0 0 ;
}
.menu_button{
    width: 80%;
    margin: 0 0.5rem;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 2rem;
}

.search>input{
    width: 90%;
    height: 100%;
    padding: 0 1rem ;
    border: 0;
    border-radius: 2rem 0 0 2rem;
}
.search>button{
    display: flex;
    align-items: center;
    color:#333;
    height: 100%;
    background-color: white;
    border: 0;
    border-radius:0 2rem 2rem 0;
    padding: 0 0.5rem;
    
}
.search>button:hover{
    background-color: rgb(255, 255, 255,0.7);
}

.right_menu{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1rem;
}


.right_menu li{
    display: flex;
    padding: 0.5rem 1rem ;
}

.right_menu li a{
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    border: solid rgb(255, 255, 255,0.7);
    border-width: 0px 0px 1px 0px;
}

.right_menu li a:hover{
    opacity:0.7;
}


.right_menu .b_n {
    padding: 0;
    border:0px;
}
.icon_text{
    width: 5rem;
    text-align: center;
    font-size: auto;
    transition: font-size 0.5s;
}
.close{
    font-size: 0 ;
    transition: font-size 0.5s;
}

/* 以下是main內容 */
main{
    margin: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    top:5rem;
    width: 90vw;
}



.scroll_div{
    width: 100%;
    display: flex;
    position: relative;
    overflow:hidden;
    /* font-size: 2rem; */

}

.arrow_div{
    /* background-color: rgba(125, 59, 59,0.3); */
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}



.arrow{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    padding: 1rem 0;
    z-index: 99;
    opacity:0.5;
    transition: all 0.5s;
}
.arrow:hover{
    opacity:0.7;
    cursor: pointer;
}

.scroll_img{
    display: flex;
    flex-wrap: nowrap;
    z-index: 5;
    transition: transform 0.5s ease;
}
.scroll_img a{
    flex: 0 0 100%;
    display: block;
    width: 100%;
}
.scroll_img img{
    width: 100%;
    object-fit: cover;
}

@media (min-width:992px) {
    .menu_button{
        display: none;
    }
    .menu_search{
        display: none !important;
    }
    .right_menu{
        display: flex !important;
    }
    .right_menu a{
        border: 0;
    }
    .right_menu a span{
        width: auto;
    }
}

@media (max-width:992px) {
    
    .right_menu{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .right_menu li{
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .search{
        display: none;
    }
}

@media (min-width:1200px){

}


/* 以下是輪撥以下 */

.shopping_menu{
    display: block;

}


.item_div{
    display: flex;
    width: 100%;
}
.item_div ul{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 ;
    background-color: aliceblue;
}

.item_div li{
    /* min-width: max(0,300px); */
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

.item_div li:hover {
    background-color: rgb(137, 137, 137);;
}

.useing {
    background-color:rgb(232, 231, 231)  !important;
}

.shopping_div{
    display: flex;
    width: 100%;
    margin:  auto;
    overflow-x: scroll;
}

.shopping_box{
    margin: 0 1rem;
    flex:20%;
    max-height: min(20%,50vh);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 0.5rem;
    scroll-snap-align: center;
    /* max-width: min(25%,300px); */
}
.shopping_box >img {
    max-height:50% ;
}

.shopping_box > p,h4{
    margin: 0.5rem 0 0 0 ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.prine_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prine_div > p {
    margin:  0.5rem 0;
}

@media (max-width: 425px){
    .shopping_div{
        flex-direction: column;
    }
    .shopping_box{
        max-height: 100vh;
        /* width:100%; */
        margin: 1rem
    }
    .shopping_box >img{
        max-height:35% ;
    }
    .shopping_box> p:nth-of-type(-n+2){
        /* color: red; */
        display: none;
    }
    .shopping_box> h4{
        justify-content: center;
        align-items: center;
        
    }

    main{
        width: 100vw;
    }
}